body {
    background-image: linear-gradient(lightskyblue, #7abaff);
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.tableContainer {
    padding: 0px;
    height: 400px;
    width: 650px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}

.tableContainer1 {
    padding: 0px;
    height: 400px;
    width: 650px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}

.phpecho {
    font-size: 75px;
    font-family: Helvetica;
    text-align: center;
}

thead {
    background-color: steelblue;
    color: beige;
    letter-spacing: 0.5px;
}

th {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: lightblue;
}

tbody tr:nth-child(even) {
    background-color: lightskyblue;
}

table {
    width: 800px;
    background-color: powderblue;
    text-align: center;
}

.table {
    margin-bottom: 0;
}

.table2 tr:nth-child(even) {
    background-color: steelblue;
    margin-top: 200px;
}

.table2 tr:nth-child(odd) {
    background-color: steelblue;
    margin-top: 200px;
}

.table2 {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

tr.spaceover > td {
    padding-top: 25px;
    padding-bottom: 10px;
}

tr.spaceunder > td {
    padding-bottom: 25px;
}

h1 {
    font-size: 125px;
    font-family: Helvetica;
    text-align: center;
    padding-top: 300px;
    margin-top: 0;
}

h3 {
    font-family: Helvetica;
    text-align: center;
}

h2 {
    font-size: 60px;
    margin-left: 250px;
    margin-bottom: 35px;
}

.form {
    background-color: steelblue;
    border-radius: 15px;
    padding: 105px 0;
    padding-bottom: 0;
    padding-top: 20px;
    width: 40%;
    margin: auto;
    margin-bottom: 0;
}

.button {
    margin: auto;
    width: 20%;
    padding: 20px;
}

.button2 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.image {
    background-image: url("car_1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding-top: 0;
}

.image1 {
    background-image: url("ezgif.com-gif-maker.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding-top: 0;
}

img {
    height: 800px;
    width: 1806px;
    padding-top: 0;
    margin-top: 0;
}

.col4 {
    width: 250px;
}
